


/* body{
  background-color: deeppink;
}
div{
  text-align: center;
  align-items: center;
}

#r{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  border: 1px;
  

} */

/* p{
    margin: 10px;
    text-align: left;
}
#H
        {
            color:#110d0d ;
          margin: 0 auto;
          width: 5%;
          float: right;
          
        }

#W
        {
            color:#110d0d ;
          margin: 0 auto;
          width: 5%;
          float: right;
         
        }

#A
        {
            color:#110d0d ;
          margin: 0 auto;
          width: 5%;
          float: right;
          
        }

#C
        {
            color:#110d0d ;
          margin: 0 auto;
          width: 5%;
          float: right;
          
        }

div{
    
    display: flex;
    

} */


